<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <body>
        <h1>{{.PageTitle}}</h1>
        <B><Font color=green>{{.SprinklerMsg}}</Font></B>
        <BR>
        <B><Font color=red>{{.MoistureMsg}}</Font></B>
        <BR>
        {{ if (eq .AutoOff "YES") }}
            <iframe id="idcw" name="cw" src="/sprinkler/autooff?which={{.Sprinkler}}" scrolling="NO" frameBorder="0" style="width:50%; height:100px;"></iframe> 
        {{ end }} 
        <BR>
        {{ if (eq .AutoOffMsg "") }}
            <a href='/index.html' class='button'>HOME</a> 
        {{ end }} 
    </body>
</html> 